{{template "header" .}}
<div class="p-8 w-full ">
    <h1 class="pt-4 pb-8 text-3xl font-bold text-gray-200">
        Edit Gallery: {{.Title}}
    </h1>
        <form action="/galleries/{{.ID}}" method="post">
            <div class="hidden">
                {{csrfField}}
            </div>
            <div class="py-2 flex flex-col ">
                <label for="title" class="font-semibold text-gray-200 pb-2">Title</label>
                <input name="title" id="title" type="text" placeholder="Enter the name of your gallery" required
                    class="w-1/2 px-3 py-2 border border-gray-300 placeholder-gray-500 text-white rounded bg-[#333333]" value="{{.Title}}"
                    autofocus />
            </div>
        
            <div class="py-4">
                <button type="submit" class="py-2 px-8 bg-indigo-600 hover:text-[#eeeeeeb9] font-bold rounded text-lg bg-gradient-to-r from-[#6477e6] bg-opacity-50 to-[#2f94d8] text-white">
                    Update the Gallery Name
                </button>
            </div>
        </form>
        <div class="py-4">
            {{template "upload_image_form" .}}
        </div>
        <div class="py-4">
            <h2 class="pb-4 font-semibold text-gray-200">Current Images</h2>
            <div class="py-2 grid grid-cols-4 md:grid-cols-8 gap-2">
                {{range .Images}}
                    <div class="h-min w-full relative">
                        <div class="absolute top-2 right-2">
                            {{template "delete_image_form" .}}
                        </div>
                        <img class="w-full" src="/galleries/{{.GalleryID}}/images/{{.FilenameEscaped}}" />
                    </div>
                {{end}}
            </div>
        </div>
        <div class="py-4">
            <h2 class="pb-4 font-semibold text-gray-200">Current Files</h2>
            <table class="min-w-full bg-[#434242]">
                <thead class="bg-[#434242]">
                    <tr>
                        <th
                            class="px-2 py-3 bg-gray-200 text-center text-xs leading-4 font-medium text-gray-700 uppercase tracking-wider">
                            #</th>
                        <th
                            class="px-6 py-3 bg-gray-200 text-clip truncate text-left text-xs leading-4 font-medium text-gray-700 uppercase tracking-wider">
                            Filename</th>
                        <th
                            class="md:px-6 px-2 py-3 bg-gray-200 text-left text-xs leading-4 font-medium text-gray-700 uppercase tracking-wider">
                            Actions</th>
                    </tr>
                </thead>
                <tbody class="bg-[#434242]">
                    {{ range $index, $image := .Images }}
                    <tr class="bg-[#434242]">
                        <td class="px-2 py-4 whitespace-no-wrap border-b border-black bg-[#434242] text-white text-center">{{ add $index 1 }}
                        </td>
                        <td class="px-6 py-4 text-ellipsis overflow-hidden border-b border-black bg-[#434242] text-blue-500 hover:underline max-w-[100px] md:max-w-none">
                            <a href="/galleries/{{ $image.GalleryID }}/images/{{ $image.FilenameEscaped }}" class="text-blue-500 hover:underline truncate text-clip" target="_blank">
                                {{ $image.Filename }}
                            </a>
                            
                        </td>
                        <td class="md:px-6 px-2 py-4 border-b border-black bg-[#434242] flex gap-4">
                            <div class="p-1 bg-[#434242]">
                                <button onclick="copyToClipboard(this, '/galleries/{{ $image.GalleryID }}/images/{{ $image.FilenameEscaped }}')"
                                    class="py-1 bg-green-100 hover:bg-green-200 rounded border border-green-600 text-sm text-black font-semibold flex items-center w-20 align-middle justify-center">Share
                                </button>
                            </div>
                            {{template "delete_image_form" $image}}
                        </td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
        <div class="py-4">
            <h2 class="font-semibold pb-2 text-gray-200">Dangerous Actions</h2>
            <form action="/galleries/{{.ID}}/delete" method="post" onsubmit="return confirm('Do you really want to delete this gallery?');">
                <div class="hidden">
                    {{csrfField}}
                </div>
                <button type="submit" class="py-2 px-8 bg-red-600 hover:bg-red-700 font-bold rounded text-lg text-white">
                    Delete Gallery
                </button>
            </form>

        </div>
</div>
{{template "footer" .}}


{{define "delete_image_form"}}
<form action="/galleries/{{.GalleryID}}/images/{{.FilenameEscaped}}/delete" method="post" onsubmit="return confirm('Are you sure that you want to delete this image?');">
    {{csrfField}}
    <button type="submit" class="text-red-500 p-1 text-xs rounded hover:text-red-700">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trash-2">
            <path d="M3 6h18" />
            <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6" />
            <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2" />
            <line x1="10" x2="10" y1="11" y2="17" />
            <line x1="14" x2="14" y1="11" y2="17" />
        </svg>
    </button>
</form>

{{end}}

{{define "upload_image_form"}}
<form action="/galleries/{{.ID}}/images" method="post" enctype="multipart/form-data">
    {{csrfField}}
    <div class="pt-4 pb-6">
        <label for="images" class="block font-semibold text-gray-200">Add Images</label>
        <p class="pb-4 text-xs text-gray-100 font-normal">Please only upload jpg, png and gif files.</p>
        <input type="file" name="images" multiple accept="image/png, image/jpg, image/gif, image/jpeg" id="images" class="cursor-pointer text-white"/>
    </div>
    <button type="submit" class="flex py-2 px-8 bg-green-600 hover:bg-green-800 text-white text-lg font-bold rounded gap-2 items-center pl-6">Upload
    </button>
</form>

{{end}}

<script>
    function copyToClipboard(button, text) {
        const input = document.createElement('input');
        input.value = window.location.origin + text;
        document.body.appendChild(input);
        input.select();
        document.execCommand('copy');
        document.body.removeChild(input);
        button.textContent = 'Copied!';
        setTimeout(() => {
            button.textContent = 'Share';
        }, 1500);
    }
</script>