{{template "header" .}}
<div class="p-8 w-full ">
    <h1 class="pt-4 pb-8 text-3xl font-bold text-gray-200">
        My Galleries
    </h1>
    <table class="w-full table-fixed">
        <thead>
            <tr>
                <th class="p-2 text-left md:-24 w-14 text-white">ID</th>
                <th class="p-2 text-left text-white text-clip truncate max-w-6xl md:max-w-[200px]">Title </th>
                <th class="p-2 text-left text-white min-w-fit">Actions</th>
            </tr>
        </thead>
        <tbody>
            {{ range .Galleries }}
            <tr class="border text-white bg-[#434242]">
                <td class="p-2 bg-[#434242]">{{ .ID }}</td>
                <td class="p-2 bg-[#434242] max-w-[200px]">{{ .Title }}</td>
                <td class="p-2 text-right flex flex-wrap gap-2 items-start md:flex-row justify-start md:space-x-2 bg-[#434242] min-w-fit">
                    <div>
                        <a href="/galleries/{{ .ID }}"
                            class="py-1 px-2 bg-blue-100 hover:bg-blue-200 rounded border border-blue-600 text-sm text-black font-semibold">View</a>
                    </div>
                    <div>
                        <a href="/galleries/{{ .ID }}/edit"
                            class="py-1 px-2 bg-yellow-100 hover:bg-yellow-200 rounded border border-yellow-600 text-sm text-black font-semibold">Edit</a>
                    </div>
                    <div>
                        <form action="/galleries/{{ .ID }}/delete" method="post"
                            onsubmit="return confirm('Do you really want to delete this gallery?');">
                            {{ csrfField }}
                            <button type="submit"
                                class="py-1 px-2 bg-red-100 hover:bg-red-200 rounded border border-red-600 text-sm text-black font-semibold">Delete</button>
                        </form>
                    </div>
                    <div>
                        <button onclick="copyToClipboard(this, '/galleries/{{ .ID }}')"
                            class="py-1 px-2 bg-green-100 hover:bg-green-200 rounded border border-green-600 text-sm text-black font-semibold md:w-32 w-20">Share
                        </button>
                    </div>
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>
    <div class="py-6">
        <a href="/galleries/new" class="py-2 px-8 bg-indigo-600 hover:text-[#eeeeeeb9] font-bold rounded text-lg bg-gradient-to-r from-[#6477e6] bg-opacity-50 to-[#2f94d8] text-white">
            New Gallery
        </a>
    </div>
</div>
{{template "footer" .}}

<script>
    function copyToClipboard(button, text) {
        const input = document.createElement('input');
        input.value = window.location.origin + text;
        document.body.appendChild(input);
        input.select();
        document.execCommand('copy');
        document.body.removeChild(input);
        button.textContent = 'Copied!';
        setTimeout(() => {
            button.textContent = 'Share';
        }, 1500);
    }
</script>