{{template "header" .}}
<div class="px-10 justify-between w-full ">
    <div class="flex flex-col justify-center items-center align-middle space-y-8 pt-24 mb-16 w-full">
        <a href="/signup" class="rounded-full px-12 py-2 bg-gradient-to-r from-[#262626] bg-opacity-50 to-[#404040] text-white text-lg hover:shadow-sm hover:shadow-[#adadad] flex-wrap text-center tracking-tight">
            Join our growing community 🎉
        </a>
        <h1 class="max-w-6xl text-white mx-auto text-6xl font-bold text-center tracking-tight">
            Discover the joy of capturing, sharing, and cherishing
            <span class="underline decoration-sky-500">memories.</span>
        </h1>
        <p class="text-lg text-white max-w-2xl text-center tracking-tight">
            Upload and share your precious moments with just a click. Whether it's family gatherings, vacations, or everyday adventures.
        </p>
        <a href="/signup" class="hover:text-[#eeeeeeb9] flex rounded-full py-4 px-10 bg-gradient-to-r from-[#6477e6] bg-opacity-50 to-[#2f94d8] text-white font-medium align-middle justify-center items-center">
            Get Started
            <svg class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
            </svg>
        </a>
        <div class="border rounded mt-20 p-1 hidden sm:block max-w-5xl mb-8">
            <img src="/assets/hero4.png" class="w-full h-full object-cover "/>
        </div>        
    </div>
</div>

{{template "footer" .}}