{{define "header"}}
<!doctype html>
<html>

<head>
    <meta charset="UTF-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/styles.css" />
 <!-- ... -->
</head>

<body class="min-h-screen bg-gray-100">
    <header class="bg-indigo-600">
        <nav class="px-8 py-6 flex items-center text-white">
            <a class="pr-12 text-4xl" href="/">📸</a>
            <div class="" >
                <a class="text-lg font-semibold hover:text-blue-300 pr-8"href="/">Home</a>
                <a class="text-lg font-semibold hover:text-blue-300 pr-8"href="/contact">Contact Us</a>
            </div>
            {{if currentUser}}
                <div class="flex-grow flex flex-row-reverse">
                    <a href="/galleries" class="text-lg font-semibold hover:text-blue-100 pr-8">My Galleries</a>
                </div>
            {{else}}
                <div class="flex-grow"></div>
            {{end}}
            <div>
                {{if currentUser}}
                <form action="/signout" method="post" class="inline pr-4">
                    <div class="hidden">
                        {{csrfField}}
                    </div>
                    <button type="submit" class="hover:text-red-100">
                        Sign Out
                    </button>
                </form>
                {{else}}
                <a class="pr-4" href="signin">Sign In</a>
                <a class="px-4 py-2 bg-blue-700 hover:bg-blue-600 rounded" href="/signup">Sign Up</a>
                {{end}}
            </div>
        </nav>

    </header>
    {{if errors}}
        <div>
            {{range errors}}
                <div class="flex justify-center items-center pt-2 closeable">
                    <div class="flex bg-red-100 rounded px-2 py-2 text-red-800 gap-10">
                        <div class="flex-grow">
                            {{.}}
                        </div>
                        <a href="#" class="text-red-600 hover:text-red-900" onclick="closeAlert(event)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                class="lucide lucide-x ">
                                <path d="M18 6 6 18" />
                                <path d="m6 6 12 12" />
                            </svg>
                        </a>
                    </div>
                </div>
            {{end}}
        </div>
    {{end}}
    {{end}}
    
    {{define "footer"}}
<script>
    function closeAlert(event){
        let closeable = event.target.closest(".closeable");
        closeable.remove();
        }
</script>
</body>
</html>
{{end}}