{{define "header"}}
<!doctype html>
<html>

<head>
    <meta charset="UTF-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/styles.css" />
    <link rel="icon" type="image/x-icon" href="/assets/icon3.ico">
    
 <!-- ... -->
</head>

<body class=" bg-[#1B1B1B] relative flex min-h-screen flex-col">
    <header class="bg-[#1B1B1B] border-b border-gray-500">
        <nav class="px-8 flex items-center text-white">
            <a href="/">
                <img class="max-w-[160px]" src="/assets/logo.png" />
            </a>
            {{if currentUser}}
                <div class="flex-grow flex flex-row-reverse align-end pr-4">
                    <a href="/galleries" class="md:px-10 px-4 py-2 rounded-full bg-[#444444] hover:bg-[#323131] md:text-lg text-sm text-center">My Galleries</a>
                </div>
            {{else}}
                <div class="flex-grow"></div>
            {{end}}
            <div>
                {{if currentUser}}
                <form action="/signout" method="post" class="inline pr-4">
                    <div class="hidden">
                        {{csrfField}}
                    </div>
                    <button type="submit" class="hover:text-red-100 text-sm md:text-lg">
                        Sign Out
                    </button>
                </form>
                {{else}}
                <div class="space-x-2 flex flex-row">
                    <a class="rounded-full md:px-4 px-2 py-2 hover:text-[#adadad]" href="/signin">Sign In</a>
                    <a class="md:px-10 px-2 py-2 rounded-full bg-[#444444] hover:bg-[#323131]" href="/signup">Sign Up</a>
                </div>
                {{end}}
            </div>
        </nav>

    </header>
    {{if errors}}
        <div class="fixed top-20 left-1/2 transform -translate-x-1/2 bg-red-100 rounded p-2 text-red-800 z-50 closeable">
            {{range errors}}
                <div class="flex justify-between items-center">
                    <div class="flex bg-red-100 rounded px-2 py-2 text-red-800 gap-10">
                        <div class="flex-grow">
                            {{.}}
                        </div>
                        <a href="#" class="text-red-600 hover:text-red-900" onclick="closeAlert(event)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                class="lucide lucide-x ">
                                <path d="M18 6 6 18" />
                                <path d="m6 6 12 12" />
                            </svg>
                        </a>
                    </div>
                </div>
            {{end}}
        </div>
    {{end}}
{{end}}
    
{{define "footer"}}

<footer
    class="absolute bottom-0 flex flex-row items-center justify-center bg-gradient-to-t from-[#1B1B1B] via-[#1B1B1B] to-transparent w-full tracking-tighter">
    <a class="flex flex-row text-gray-200 items-center justify-center space-x-2 pb-2 w-full"
        href="https://www.plumega.com" target="_blank">
        <span>Crafted with </span>
        <span class="flex items-center">
            ❤️ and &nbsp;
            <img src="/assets/gopher.png" class="h-6" />
        </span>

        <span>by GT</span>
    </a>
</footer>

<script>
    function closeAlert(event) {
        let closeable = event.target.closest(".closeable");
        closeable.remove();
    }
</script>
</body>
</html>
{{end}}